@charset "utf-8";

/* con3 */
main .con3 {
    width: 100%;
    height: 7283px;
    position: relative;
}


/* 점선 뒷 배경 */

main .con3 .svg_wrap2 {
    display: none;
}



main .con3 svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 485px;
    left: 0;
    z-index: -1;
}

main .con3 .tit_sticky {
    position: sticky;
    background: #fff;
    top: 110px;
    z-index: 10;
    width: 100%;
    height: 130px;
}

main .con3 .tit {
    width: 1000px;
    height: 130px;
    z-index: 10;
    position: absolute;
}

main .con3 .tit1 {
    left: 200px;
    top: 0;
}

main .con3 .tit2 {
    right: 200px;
    top: 0;
}

main .con3 .tit2 h2 {
    display: flex;
    justify-content: flex-end;
}

main .con3 img {
    width: 376px;
    height: 324px;
}

/* merch 숍 컨텐츠 */
main .con3 .con3_all {
    width: 100%;
    height: 100%;
}

main .con3 .con3_all article.con3_1 {
    width: 100%;
    height: 3577px;
    position: relative;
}

main .con3 .con3_all article.con3_2 {
    width: 100%;
    height: 3705px;
    position: relative;
}

main .con3 .con3_all article .merch_all {
    overflow: hidden;
    position: relative;
    width: 1566px;
    height: 100%;
}

main .con3 .con3_all article .merch_all>div {
    width: 464px;
    height: 612px;
    border: 1px solid var(--sub-color1);
    border-radius: 10px;
    background: var(--back-color1);
    position: absolute;
    text-align: center;

}

main .con3 .con3_all article .merch_all>div span {
    font-size: 22px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: var(--sub-color1);


}

main .con3 .con3_all article .merch_all>div p {
    font-size: 26px;
    color: var(--sub-color1);
    margin-top: 10px;

}

main .con3 .con3_all article .merch_all>div a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

main .con3 .con3_all article .merch_all>div a p {
    border: 1px solid var(--sub-color1);
    border-radius: 5px;
    font-size: 18px;
    font-family: 'TTLaundryGothicB';
    font-weight: normal;
    width: 90px;
    height: 40px;
    text-align: center;
    color: #9B97A7;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;

}

main .con3 .con3_all article .merch_all>div img {
    margin-top: 40px;
}

main .con3 .con3_all article .merch_all>div.merch1 {
    left: 67px;
    top: 1%;
}

main .con3 .con3_all article .merch_all>div.merch2 {
    right: 106px;
    top: 26%;
}

main .con3 .con3_all article .merch_all>div.merch3 {
    left: 366px;
    top: 46%;
}

main .con3 .con3_all article .merch_all>div.merch4 {
    left: 89px;
    top: 65%;
}

main .con3 .con3_all article .merch_all>div.merch5 {
    right: 106px;
    top: 79%;
}

main .con3 .con3_all article .merch_all>div.merch6 {
    left: 0;
    top: 5%;
}

main .con3 .con3_all article .merch_all>div.merch7 {
    right: 0;
    top: 24%;
}

main .con3 .con3_all article .merch_all>div.merch8 {
    left: 50%;
    transform: translateX(-50%);
    top: 43%;
}

main .con3 .con3_all article .merch_all>div.merch9 {
    left: 164px;
    top: 62%;
}

main .con3 .con3_all article .merch_all>div.merch10 {
    right: 318px;
    top: 80%;
}

@media screen and (max-width:1582px) {
    main .con3 .con3_all article .merch_all {
        width: 95%;
    }
}

@media screen and (max-width:1566px) {
    main .con3 .con3_all article .merch_all {
        width: 95%;
    }
}

@media screen and (max-width:1230px) {
    main .con3 .con3_all article .merch_all>div.merch1 {
        left: 2%;

    }

    main .con3 .con3_all article .merch_all>div.merch2 {
        right: 10%;

    }

    main .con3 .con3_all article .merch_all>div.merch3 {
        left: 8%;

    }

    main .con3 .con3_all article .merch_all>div.merch4 {
        left: 5%;

    }

    main .con3 .con3_all article .merch_all>div.merch5 {
        right: 10%;

    }

    main .con3 .con3_all article .merch_all>div.merch6 {
        left: 0;

    }

    main .con3 .con3_all article .merch_all>div.merch7 {
        right: 0;

    }

    main .con3 .con3_all article .merch_all>div.merch8 {
        left: 50%;
        transform: translateX(-50%);

    }

    main .con3 .con3_all article .merch_all>div.merch9 {
        left: 15%;

    }

    main .con3 .con3_all article .merch_all>div.merch10 {
        right: 20%;

    }
}

@media screen and (max-width:1216px) {
    main .con3 .tit {
        width: 80%;
    }

    main .con3 .tit1 {
        left: 10%;
    }

    main .con3 .tit2 {
        right: 10%;
    }
}

@media screen and (max-width:1024px) {

    main .con3 .svg_wrap {
        display: none;
    }

    main .con3 .svg_wrap2 {
        display: block;
    }

    main .con3 img {
        width: 300px;
        height: 280px;
    }

    main .con3 .con3_all article .merch_all>div {
        width: 350px;
        height: 475px;
    }

    main .con3 .con3_all article .merch_all>div span {
        font-size: 18px;
        margin-top: 10%;
    }

    main .con3 .con3_all article .merch_all>div p {
        font-size: 20px;
        margin-top: 10px;
    }

    main .con3 .con3_all article .merch_all>div a {
        margin-top: 8%;
    }

    main .con3 .con3_all article .merch_all>div a p {
        font-size: 16px;
        width: 80px;
        height: 35px;
    }

    main .con3 .con3_all article .merch_all>div img {
        margin-top: 5%;
    }


}

@media screen and (max-width:694px) {

    /* con3 */
    main .con3 .tit {
        width: 70%;
        height: 130px;

    }

    main .con3 .tit1 h2 {
        font-size: 50px;
    }

    main .con3 .tit2 h2 {
        font-size: 50px;
    }



}

@media screen and (max-width:512px) {

    /* con3 */
    main .con3 .tit {
        width: 70%;
        /*  height: 70px; */

    }

    main .con3 .tit_sticky {
        height: 60px;
    }

    main .con3 .tit1 h2 {
        font-size: 40px;
    }

    main .con3 .tit2 h2 {
        font-size: 40px;
    }


}

@media screen and (max-width:440px) {


    /* con3 */

    main .con3 .tit_sticky {
        height: 50px;
    }

    main .con3 .tit1 h2 {
        font-size: 35px;
    }

    main .con3 .tit2 h2 {
        font-size: 35px;
    }





    main .con3 .con3_all article .merch_all>div.merch1 {
        left: 2%;

    }

    main .con3 .con3_all article .merch_all>div.merch2 {
        right: 10%;

    }

    main .con3 .con3_all article .merch_all>div.merch3 {
        left: 8%;

    }

    main .con3 .con3_all article .merch_all>div.merch4 {
        left: 5%;

    }

    main .con3 .con3_all article .merch_all>div.merch5 {
        right: 10%;

    }

    main .con3 .con3_all article .merch_all>div.merch6 {
        left: 0;

    }

    main .con3 .con3_all article .merch_all>div.merch7 {
        right: 7%;

    }

    main .con3 .con3_all article .merch_all>div.merch8 {
        left: 50%;
        transform: translateX(-50%);

    }

    main .con3 .con3_all article .merch_all>div.merch9 {
        left: 7%;

    }

    main .con3 .con3_all article .merch_all>div.merch10 {
        right: 8%;

    }





}

@media screen and (max-width:414px) {


    /* con3 */

    main .con3 .tit_sticky {
        height: 50px;
    }

    main .con3 .tit1 h2 {
        font-size: 32px;
    }

    main .con3 .tit2 h2 {
        font-size: 32px;
    }





    main .con3 .con3_all article .merch_all>div.merch1 {
        left: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch2 {
        right: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch3 {
        left: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch4 {
        left: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch5 {
        right: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch6 {
        left: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch7 {
        right: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch8 {
        left: 50%;
        transform: translateX(-50%);

    }

    main .con3 .con3_all article .merch_all>div.merch9 {
        left: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch10 {
        right: 6%;

    }





}

@media screen and (max-width:360px) {
    /* con3 */

    main .con3 .tit_sticky {
        height: 50px;
    }

    main .con3 .tit1 h2 {
        font-size: 30px;
    }

    main .con3 .tit2 h2 {
        font-size: 30px;
    }
    main .con3 .con3_all article .merch_all>div {
        width: 90%;
        height: auto;
    }

    main .con3 .con3_all article .merch_all>div a p {
        margin-bottom: 5%;
    }
    main .con3 .con3_all article .merch_all>div img {
        width: 90%;
        height: auto;
    }
    main .con3 .con3_all article .merch_all>div.merch1 {
        left: 6%;
    }

    main .con3 .con3_all article .merch_all>div.merch2 {
        right: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch3 {
        left: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch4 {
        left: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch5 {
        right: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch6 {
        left: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch7 {
        right: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch8 {
        left: 50%;
        transform: translateX(-50%);

    }

    main .con3 .con3_all article .merch_all>div.merch9 {
        left: 6%;

    }

    main .con3 .con3_all article .merch_all>div.merch10 {
        right: 6%;

    }


}