@charset "utf-8";

@media screen and (max-width:1866px) {
    main .con3 svg {
        width: 100%;
        height: 100%;
        top: 485px;
    }
}

@media screen and (max-width:1764px) {
    main .con5 .container {
        width: 100%;
    }

    main .con5 .photo_all1 {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        position: relative;
    }

    main .con5 .photo_all1 .txt_box {
        height: auto;
        position: absolute;
        right: 50%;
        top: 150px;
        margin-right: -629px;
    }

    main .con5 .photo_all1 .txt_box p {
        display: none;
    }

    main .con5 .photo_b {
        margin: 0 auto;
    }

    main .con5 .tit {
        padding-right: 100px;
    }

}



@media screen and (max-width:1662px) {

    /* 스탠딩테이 */
    main .con1 .back_ground .tay6 {
        display: none;
    }

}

@media screen and (max-width:1566px) {

    /* 레드립 */
    main .con1 .back_ground .tay4 {
        left: 52%;

    }

    /* con4 */



    /* 투어 타이틀  */
    main .con4 .container {
        max-width: 946px;
    }
    main .con4 h2{
        margin-left: -573px;
    }
/*     main .con4 h2 {
        margin-left: -550px;
        margin-bottom: 100px;
    } */
/*     main .con4 .container{

        align-items: flex-end;

    } */
    /* 투어 시간표  */
    main .con4 .container .tour_all {
        /* padding-left: 40%; */
       /*  padding-top: 5%; */
    }

    main .con4 .btn {
       /*  width: 1200px;
        padding-left: 15%; */
    }


}

@media screen and (max-width : 1400px) {

    /* 전체 타이틀 제목 */
    section .tit h2 {
        color: var(--main-bg-color);
        font-size: 70px;
        font-weight: 800;
        line-height: normal;
        border-bottom: 4px solid var(--main-bg-color);
    }

    main .con2 h2 {
        border: 0;
    }

    /* header */
    header .container {
        padding: 0 30px;
    }

    /* con1 */
    /* 메인비주얼 테일러 사진들  */
    main .con1 .back_ground .tay1 {
        top: 5%;
        left: 3%;
    }

    main .con1 .back_ground .tay2 {
        display: none;
    }

    main .con1 .back_ground .tay3 {
        top: 43%;
        left: 8%;
    }

    /* 레드립 */
    main .con1 .back_ground .tay4 {
        left: 25%;
        top: 0;
    }

    /* 보라색폴라 */
    main .con1 .back_ground .tay5 {
        right: 8%;
        top: 5%;
    }

    /* 스탠딩테이 */
    main .con1 .back_ground .tay6 {
        position: absolute;
        right: 15%;
        top: 20%;
        z-index: 10;
        display: block;
    }

    main .con1 .back_ground img {
        width: 100%;
    }


    /* con2  */
    main .con2 .tit {
        left: 10%;
    }

    /* 화살표 라인 */
    main .con2 svg {
        left: 27%;
        top: 75%;
        width: 500px;
        height: 80px;
    }

    /* 에라스 앨범 이름 */
    main .con2 .chronicle article .a_tit {
        top: 45%;

    }

    main .con2 .chronicle article .txt p {
        width: 350px;
        height: 250px;
    }

    /* con3 */

    main .con3 svg {
        width: 100%;
        height: 100%;
        top: 485px;
    }

    main .con3 .tit_sticky {
        height: 100px;
    }

    main .con3 .tit1 {
        left: 10%;
        top: 0;
    }

    main .con3 .tit2 {
        right: 10%;
        top: 0;
    }

    /* 숍 컨텐츠 */

    main .con3 .con3_all article .merch_all>div.merch1 {
        left: 10%;
        top: 5%;
    }

    main .con3 .con3_all article .merch_all>div.merch2 {
        left: 55%;
        top: 25%;
    }

    main .con3 .con3_all article .merch_all>div.merch3 {
        left: 40%;
        top: 43%;
    }

    main .con3 .con3_all article .merch_all>div.merch4 {
        left: 30%;
        top: 62%;
    }

    main .con3 .con3_all article .merch_all>div.merch5 {
        left: 50%;
        top: 80%;
    }

    /* 숍 컨텐츠2  */

    main .con3 .con3_all article .merch_all>div.merch6 {
        left: 7%;
        top: 6%;
    }

    main .con3 .con3_all article .merch_all>div.merch7 {
        left: 52%;
        top: 26%;
    }

    main .con3 .con3_all article .merch_all>div.merch8 {
        left: 26%;
        top: 45%;
    }

    main .con3 .con3_all article .merch_all>div.merch9 {
        left: 46%;
        top: 63%;
    }

    main .con3 .con3_all article .merch_all>div.merch10 {
        left: 12%;
        top: 80%;
    }

    /* con4 */

    /* 투어 배경 */
    main .con4 {

        background: url(../img/back_tour3.png)no-repeat;
        height: 1000px;
/*         padding-top: 10%; */
    }

    /* 투어 타이틀  */

    main .con4 h2 {
/*         font-size: 40px;
        margin-left: -500px;
        margin-top: 30px; */
    }

    /* 투어 시간표  */
    main .con4 .container .tour_all {
 /*        width: 900px; */
        /* padding-left: 40%; */
/*         background: #ccc; */
    }

    main .con4 .container .tour_all>div {
   /*      width: 900px;
        height: 75px; */
    }

    main .con4 .container .tour_all>div p {
        font-size: 14px;
   /*      width: 280px;
        height: 50px; */
    }

    main .con4 .container .tour_all>div span {
        font-size: 14px;
    /*     width: 160px;
        height: 20px; */
    }

    main .con4 .container .tour_all>div em {
     /*    width: 200px;
        height: 18px; */
    }

    main .con4 .container .tour_all>div a strong {
   /*      width: 140px;
        height: 35px;
        */ font-size: 13px;
    }

    main .con4 .btn {
/*         width: 1200px;
        padding-left: 10%; */
    }

    /* con5 포토 컨텐츠 */
    main .con5 .photo_all1 {
        margin-top: 50px;
    }

    main .con5 .txt_box {
        width: 320px;
        height: 530px;
    }

    /* 위 텍스트 박스 없애기 */
    main .con5 .photo_all1 .txt_box {
        display: none;
    }

    /*  기타든 테일러 */
    main .con5 .photo_t {
        width: 95%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    main .con5 .photo_t ul li:nth-child(2) {
        display: none;

    }


    main .con5 .photo_t ul li:nth-child(3) {
        display: none;

    }

    main .con5 .photo_t ul li:nth-child(4) {
        align-self: flex-end;
        padding-left: 10px;
    }

    main .con5 .photo_b {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 940px;
    }

    main .con5 .photo_b ul li:nth-child(1) {
        display: flex;
        margin: 0 auto;
        height: 340px;
        width: 863px;
    }

    main .con5 .photo_b ul li:nth-child(2) {
        width: 863px;
        margin: 0 auto;
    }

    main .con5 .photo_b ul li:nth-child(2) img {
        width: 100%;
    }

    main .con5 .photo_b .txt_box h3 {
        font-size: 35px;
    }

    main .con5 .photo_b .txt_box p {
        font-size: 18px;
    }

    /* con6 */

    /* con6 어워즈  */
    main .con6 {
        height: 1000px;
    }

}

@media screen and (max-width:1296px) {

    .container {
        width: 100%;
    }

    /* con1 */

    /* 보라색폴라 */
    main .con1 .back_ground .tay5 {
        top: 10%;
        right: 10%;

    }

    /* 스탠딩테이 */

    main .con1 .back_ground .tay6 {
        display: none;
    }

    /* con3 */
    main .con3 .tit1 {
        left: 10%;
    }

    main .con3 .tit2 {
        right: 10%;
    }

    main .con3 img {
        width: 350px;
        height: 290px;
    }

    main .con3 .con3_all article .merch_all>div {
        width: 430px;
        height: 560px;
    }

    main .con3 .con3_all article .merch_all>div span {
        font-size: 20px;
        margin-top: 50px;
    }

    main .con3 .con3_all article .merch_all>div p {
        font-size: 24px;
        margin-top: 10px;
    }

    main .con3 .con3_all article .merch_all>div a p {
        font-size: 16px;
        width: 70px;
        height: 35px;
    }

    main .con3 .con3_all article .merch_all>div img {
        margin-top: 40px;
    }

}



@media screen and (max-width:1216px) {

    main .con3 svg {
        top: 485px;
        width: 100%;
        overflow: hidden;
    }

    main .con5 h2 {
        width: 800px;

    }

    main .con4 .btn {
      /*   width: 100%; */
    }


}

@media screen and (max-width:1196px) {

    /* 넘치는 부분 */
    footer .notice_all {
        width: 100%;
    }

}

@media screen and (max-width:1193px) {
    main .con3 .con3_all article .merch_all>div.merch2 {
        left: 39%;
        top: 25%;
    }
}

@media screen and (max-width:1150px) {

    header .container .left {
        justify-content: space-around;
    }

    header .container .left ul li {
        font-size: 28px;
    }

    header .container .right {
        font-size: 24px;
    }

    /* con1 */
    main .con1 h2 {
        left: 25%;
        top: 40%;
    }

    /* 테일러 옆모습 */

    main .con1 .back_ground .tay1 {
        top: 15%;

    }

    /* 레드립 */
    main .con1 .back_ground .tay4 {
        display: none;

    }

    main .con1 .back_ground .tay2 {
        display: block;
        left: 25%;
        top: 3%;
        width: 600px;
        height: 600px;
    }

    main .con1 .back_ground .tay3 {
        top: 60%;
        left: 7%;
    }


    /* con4 */
    /* 투어 배경 */
    main .con4 {
    background: url(../img/back_tour4.png)no-repeat;
          /*   height: 1000px; */
    }

    /* 투어 시간표  */
    main .con4 .container .tour_all {
        /* padding-left: 30%; */
    }

}


@media screen and (max-width:1127px) {

    main .con3 .tit {
        width: 700px;

    }

}

@media screen and (max-width:1120px) {
    main .con3 .con3_all article .merch_all>div.merch7 {
        left: 46%;
        top: 24%;
    }
}

@media screen and (max-width:1090px) {

    main .con3 .con3_all article .merch_all>div.merch5 {
        left: 48%;
        top: 79%;
    }

    main .con3 .con3_all article .merch_all>div.merch7 {
        left: 46%;
        top: 24%;
    }

}



@media screen and (max-width:1075px) {

   /*  main .con4 .container {
        padding-top: 7%;
    }

    main .con4 .container .tour_all>div {
        width: 800px;
    }

    main .con4 h2 {
        left: 50%;
        margin-left: -400px;
        top: 70%;
    } */

    main .con5 .container {
        width: 90%;
    }

    main .con6 .awards {
        width: 500px;
        height: 250px;
    }

    main .con6 .awards h2 {
        font-size: 50px;
    }

    main .con6 .awards>p {
        font-size: 22px;
        font-weight: 200;
        padding-top: 20px;
    }


}



@media screen and (max-width:1039px) {

    main .con3 .con3_all article .merch_all>div.merch5 {
        left: 45%;
        top: 79%;
    }

/*     main .con4 .container .tour_all>div {
        width: 760px;
    } */

    main .con5 .container {
        width: 90%;
    }

    /* main .con6 .pola {
        width: 400px;
        height: 500px;
    } */

    main .con6 .awards {
        width: 500px;
        height: 250px;
    }

    main .con6 .awards h2 {
        font-size: 50px;
    }

    main .con6 .awards>p {
        font-size: 22px;
        font-weight: 200;
        padding-top: 20px;
    }

    footer {
        overflow: hidden;
    }

}





/* 태블릿 사이즈 */
@media screen and (max-width:1025px) {



    header .container .right ul {
        display: none;
    }

    header .container .right .ham {
        display: block;
    }

    main .con1 h2 {
        left: 20%;
        top: 60%;
    }

    /* 메인비주얼 테일러 사진들  */
    main .con1 .back_ground .tay1 {
        top: 25%;
        left: 2%;
    }

    main .con1 .back_ground .tay2 {
        display: block;
        left: 15%;
        top: 0;
        width: 600px;
        height: 600px;
    }

    main .con1 .back_ground .tay3 {
        top: 45%;
        left: 8%;
        z-index: 7;
    }

    /* 레드립 */
    main .con1 .back_ground .tay4 {
        display: none;
    }

    /* 보라색폴라 */
    main .con1 .back_ground .tay5 {
        display: none;
    }

    /* 스탠딩테이 */
    main .con1 .back_ground .tay6 {
        display: none;
    }

    /* 노란색테이 */
    main .con1 .back_ground .tay7 {
        right: 7%;
        top: 7%;
    }

    /* con2 */
    /* 동그라미 */
    main .con2 .chronicle article::before {
        left: 70px;

    }

    /* 에라스 앨범 이름 */
    main .con2 .chronicle article:nth-child(2n) .a_tit {
        top: 45%;
    }

    /* 앨범 텍스트 */
    main .con2 .chronicle article .txt {
        left: 15%;
        top: 55%;
        width: 460px;
        height: 250px;
    }

    main .con2 .chronicle article:nth-child(2n) .txt {
        top: auto;
        bottom: 65%;
    }


    /* con3 */
    main .con3 {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    main .con3 .svg_wrap {
        display: none;
    }

    main .con3 .svg_wrap2 {
        display: block;
    }

    main .con3 svg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    main .con3 .tit {
        width: 800px;
    }

    main .con3 .tit1 {
        left: 10%;
    }

    main .con3 .tit2 {
        right: 10%;
    }

    /* 숍 컨텐츠 */

    main .con3 .con3_all article .merch_all>div.merch1 {
        left: 10%;
        top: 7%;
    }

    main .con3 .con3_all article .merch_all>div.merch2 {
        left: 45%;
        top: 25%;
    }

    main .con3 .con3_all article .merch_all>div.merch5 {
        left: 43%;
        top: 79%;

        /* right 기준으로 주면 안 바뀜 ㅠㅋ */
    }

    main .con3 .con3_all article .merch_all>div.merch7 {
        left: 47%;
        top: 24%;
    }

    /* con4 투어일정 */
  /*   main .con4 {
        width: 100%;
        padding: 10% 0 0 0;
    }

    main .con4 h2 {
        margin-left: -470px;
        top: 70%;
    }

    main .con4 .container .tour_all {
        width: 700px;
  
    }

    main .con4 .container .tour_all>div {
        width: 700px;
        height: 75px;
        padding-left: 5%;
        padding-right: 5%;
    }

    main .con4 .container .tour_all>div p {
        font-size: 13px;
        width: 260px;
        height: 50px;
    }

    main .con4 .container .tour_all>div span {
        font-size: 13px;
        width: 165px;
        height: 18px;
    }


    main .con4 .btn {
        width: 800px;
    }
 */

    /* con5 포토갤러리 */

    main .con5 .tit {
        padding: 0;
    }

    main .con5 h2 {
        width: 750px;

    }

    main .con5 .photo_t {
        justify-content: flex-end;
    }

    /* 피이노치는 테일러  */
    main .con5 .photo_t ul li:nth-child(4) {
        display: none;

    }

    /* con6 어워즈 */
    main .con6 {
        background: url(../img/back_move1024.gif)no-repeat cover;
        
    }

    main .con6 .container {
        width: 100%;
        height: 100%;

    }

    /* 폴라로이드 사진  */
    main .con6 .pola {
        width: 40%;
        height: 55%;

    }

    main .con6 .pola p {
        bottom: 7%;
        right: 0;
    }

    /* 어워즈 부분 */

    main .con6 .awards {
        width: 500px;
        height: 273px;

    }

    main .con6 .awards h2 {
        font-size: 50px;
    }

    main .con6 .awards>p {
        font-size: 22px;
        padding-top: 15px;
        font-weight: 200;
    }

    /* 셀렉트 앨범 부분 전체  */
    main .con6 .awards .select_all {
        width: 350px;
        font-size: 20px;
    }

    /* 앨범 선택 부분  */
    main .con6 .awards .select_all select.ab {
        font-size: 15px;
        font-weight: 300;
    }

    /* footer */
    footer {
        width: 100%;
        height: 600px;
        margin-top: 50px;
        overflow: hidden;
    }

    footer .container {
        width: 100%;
    }

    footer .container .tit h2 {
        font-size: 42px;
    }


    /* 지역 선택 셀렉트 부분 */
    footer .addr .local select {
        font-size: 13px;
    }

    /* 공지사항 부분  */
    footer .notice_all {
        width: 1000px;
    }

    footer .notice_all p {
        width: 100%;
        font-size: 14px;
    }

    /* 전송 버튼 부분  */
    footer .notice_all button {
        font-size: 20px;
        font-weight: 600;
    }

}

@media screen and (max-width:1016px) {
    main .con3 .con3_all article .merch_all>div.merch7 {
        left: 42%;
        top: 24%;
    }
}



@media screen and (max-width:979px) {
    main .con3 .con3_all article .merch_all>div.merch2 {
        left: 30%;
        top: 25%;
    }
    

}

@media screen and (max-width:946px) {

    main .con3 .con3_all article .merch_all>div.merch2 {
        left: 35%;
        top: 25%;
    }

    main .con3 .con3_all article .merch_all>div.merch5 {
        left: 38%;
        top: 79%;
    }

    main .con4 .container {
        max-width: 95%;
        width: 100%;
    }
    main .con4 h2{
        margin-left: -573px;
    }
    main .con4 .container .tour_all{
        width: 100%;
    }
    main .con4 .container .tour_all>div{
        width: 100%;
        background: #000;
        padding: 0;
    }
    main .con4 .container .tour_all>div p{
        flex: 1;
        background: yellow;
    }
    main .con4 .btn{
        width: 100%;
    }

    main .con5 .photo_b ul li:nth-child(2) {
        width: 100%;

    }


    footer .container {
        width: 90%;
    }

    footer .container .tit h2 {
        font-size: 40pxs;
    }

    footer .addr {
        width: 800px;
        height: 30px;
        justify-content: space-around;

    }

    footer .addr .email {
        width: 350px;
        height: 100%;
    }

    footer .addr .email p {
        width: 150px;

    }


    footer .addr .email input {
        width: calc(100% - 150px);
    }



    /* 지역 선택 부분 */
    footer .addr .local {
        width: 350px;
    }

    footer .notice_all {

        width: 100%;
        height: 100%;
    }


}

@media screen and (max-width:929px) {

/*     main .con4 h2 {
        left: 50%;
        margin-left: -430px;
        top: 68%;
    }


    main .con4 .btn {
        width: 800px;
        
    } */


    /* con5 포토갤러리 */

    main .con5 h2 {
        width: 750px;

    }

    main .con5 .photo_t {
        justify-content: flex-end;
    }


    /* 피이노치는 테일러  */
    main .con5 .photo_t ul li:nth-child(4) {
        display: none;

    }


    main .con6 {
        width: 100%;
        height: 850px;
    }




}

@media screen and (max-width:905px) {

    main .con3 .tit {
        width: 700px;
       
    }

}




@media screen and (max-width:834px) {
    main .con1 h2 {
        font-size: 100px;
        left: 150px;
        top: 65%;
    }
}






/* 핸드폰 사이즈 */
@media screen and (max-width:768px) {

    /* con3 */
    main .con3 svg {
        width: 100%;
        height: 100%;
    }

    /* 메인비주얼 테일러 사진들  */
    main .con1 .back_ground .tay1 {
        top: 23%;
        left: 2%;
    }

    main .con1 .back_ground .tay3 {
        top: 55%;
        left: 12%;
        width: 90%;
        height: 90%;
        z-index: 8;
    }


}